* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Poppins", sans-serif;
}

nav {
	display: flex;
	min-height: 10vh;
	justify-content: center;
	align-items: center;
}

.logo {
	font-size: 1rem;
	color: rgba(33, 33, 33, 1);
	z-index: 3;
}

.hero-section {
	margin: 0 10%;
	height: 80vh;
	/* border-radius: 1.5rem; */
	/* overflow: hidden; */
}

.hero-section img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.cta {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	flex-direction: column;
	color: white;
	align-items: center;
}

.cta-text {
	display: flex;
	font-size: 1.5rem;
}

.cta-text h2 {
	overflow: hidden;
}
.cta-text span {
	display: inline-block;
	padding: 0 0.2rem;
	text-shadow: rgba(0, 0, 0, 0.4) 0px 0px 20px;
}

.cta-btn {
	margin: 1rem;
	padding: 0.5rem 1.5rem;
	background: #fff;
	font-family: "Poppins" sans-serif;
	border-radius: 0.3rem;
	color: rgb(33, 33, 33);
	border: none;
	font-size: 0.65rem;
	cursor: pointer;
}
